/AttributeParser.java
/AttributeParserConstants.java
/AttributeParserTokenManager.java
/InterfaceParser.java
/InterfaceParserConstants.java
/InterfaceParserTokenManager.java
/RelationshipParser.java
/RelationshipParserConstants.java
/RelationshipParserTokenManager.java
/RuleParser.java
/RuleParserConstants.java
/RuleParserTokenManager.java
/TypeParser.java
/TypeParserConstants.java
/TypeParserTokenManager.java
