<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--
 *
 *  This file is part of MxUpdate <http://www.mxupdate.org>.
 *
 *  MxUpdate is a deployment tool for a PLM platform to handle
 *  administration objects as single update files (configuration item).
 *
 *  Copyright (C) 2008-2016 The MxUpdate Team - All Rights Reserved
 *
 *  You may use, distribute and modify MxUpdate under the terms of the
 *  MxUpdate license. You should have received a copy of the MxUpdate
 *  license with this file. If not, please write to <info@mxupdate.org>,
 *  or visit <www.mxupdate.org>.
 *
-->

<suite name="MxUpdate">

    <test name="1 - Test Updates" annotations="JDK">
        <packages>
            <package name="org.mxupdate.test.test.update.datamodel"/>
            <package name="org.mxupdate.test.test.update.datamodel.helper"/>
            <package name="org.mxupdate.test.test.update.parser"/>
            <package name="org.mxupdate.test.test.update.program"/>
            <package name="org.mxupdate.test.test.update.system"/>
            <package name="org.mxupdate.test.test.update.user"/>
            <package name="org.mxupdate.test.test.update.userinterface"/>
            <package name="org.mxupdate.test.test.update.userinterface.helper"/>
            <package name="org.mxupdate.test.test.update.util"/>
        </packages>
    </test>

    <test name="2 - Test Configuration Items" annotations="JDK">
        <packages>
            <package name="org.mxupdate.test.ci"/>
            <package name="org.mxupdate.test.ci.datamodel"/>
            <package name="org.mxupdate.test.ci.integration"/>
            <package name="org.mxupdate.test.ci.program"/>
            <package name="org.mxupdate.test.ci.user"/>
            <package name="org.mxupdate.test.ci.userinterface"/>
        </packages>
    </test>

</suite>
